/**
 *  @description
 *  For simplicity of this workshop, we have opted to use a global.css to hold
 *  ALL our styles. You are free to explore alternate ways to style your elements.
 */

* {
  line-height: 1.75;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI";
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f9f9f9;
}

p {
  margin: 24px 0;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  background: white;
}

section .container {
  display: block;
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  padding: 16px;
}

.row-justify {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.results {
  border-top: 1px solid #e3e5ec;
  background: #edf2f7;
  padding: 16px 0;
}

.card {
  padding: 16px 24px;
  border-radius: 4px;
  background: white;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-bottom: 16px;
}

.card h3 {
  margin: 0;
}

.nav {
  background: #3d4c60;
  color: white;
}

.nav span {
  font-weight: bold;
}

.footer {
  border-top: 1px solid #e3e5ec;
  background: #f9f9f9;
  color: #3d4c60;
}

.masthead {
  background: #FC80C2;
  color: #FFFFFF;
}